/*Navigation*/
.nav {
  background-color: white;
  height: 64px;
  justify-items: center;
}

.logo {
  display: inline;
  height: 32px;
  width: auto;
  padding-left: 24px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-right: 24px;
}

li {
  display: inline;
  float: right;
  padding: 16px;
}

li a {
  text-decoration: none;
}

/*Banner*/
.banner {
  background-color: grey;
}
