/*Universal*/
html {
  font-size: 16px;
}

.flex-box {
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}

a {
  color: darkgrey;
}
a:hover {
  color: black;
}

/*Navigation*/
.colmar {
  align-items: center;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  display: flex;
  height: 64px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo-img {
  display: inline-flex;
  height: 32px;
  width: auto;
  padding-left: 24px;
  margin-right: 12px;
  align-items: center;
}

.logo-img p {
  font-size: 1.25rem;
}

.logo-img p .bold {
  font-weight: 700;
}

.logo-img p .lite {
  font-weight: 100;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-right: 24px;
}

li {
  display: inline;
  float: right;
  padding: 16px;
}

li a {
  text-decoration: none;
}

/*Banner*/
.banner {
  background-color: lightgrey;
  width: auto;
}

/*Learning Section*/
.learning-container {
  background-color: lightgrey;
}
